@model GuessWhere.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2 style="color: lightsteelblue">@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    <h4 style="color: ButtonShadow">Change your account settings</h4>
    <hr align="left" width="42%" />
    <dl class="dl-horizontal">
        <dt style="color: ButtonShadow">Avatar:</dt>
        <dd>
            @if (Model.Avatar != null)
            {
                <img id="the-image" src="@Url.Action("GetAvatar", "Manage", new { id = ViewBag.Iser })" style="max-height:250px; max-width:300px; border-radius:10px" />
            }
        </dd>
        <dd style="color: ButtonShadow">
            [ @Html.ActionLink("Manage avatar", "Index", "Avatar") ]
        </dd>

        <dt style="color: ButtonShadow">Password:</dt>
        <dd style="color: ButtonShadow">
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        @if (ViewBag.username == "ADMIN") { 
            
        <dt style="color: ButtonShadow">Image controls:</dt>
        <dd style="color: ButtonShadow">
            [ @Html.ActionLink("Manage images", "Index", "Images") ]
        </dd>
            
        <dt style="color: ButtonShadow">Game controls:</dt>
        <dd style="color: ButtonShadow">
            [ @Html.ActionLink("Manage games", "Index", "Games") ]
        </dd>
            
        }
    </dl>
</div>

