@model GuessWhere.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2 style="color: cornflowerblue">Details</h2>

<head>
    <style>
        div#centralPart {
            width: 100%;
            background: rgba(212, 231, 255, 0.80);
            color: black;
        }
    </style>
</head>

<div id="centralPart">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Image 1:
        </dt>

        <dd>
            <img src="@Url.Action("Show", "Images", new { id = Model.IDimg1 })" alt="image" />
        </dd>
        <hr />
        <dt>
            Image 2:
        </dt>

        <dd>
            <img src="@Url.Action("Show", "Images", new { id = Model.IDimg2 })" alt="image" />
        </dd>
        <hr />
        <dt>
            Image 3:
        </dt>

        <dd>
            <img src="@Url.Action("Show", "Images", new { id = Model.IDimg3 })" alt="image" />
        </dd>
        <hr />
        <dt>
            Image 4:
        </dt>

        <dd>
            <img src="@Url.Action("Show", "Images", new { id = Model.IDimg4 })" alt="image" />
        </dd>
        <hr />
        <dt>
            Image 5:
        </dt>

        <dd>
            <img src="@Url.Action("Show", "Images", new { id = Model.IDimg5 })" alt="image" />
        </dd>
        <hr />
        <dt>
            Image 6:
        </dt>

        <dd>
            <img src="@Url.Action("Show", "Images", new { id = Model.IDimg6 })" alt="image" />
        </dd>
        <hr />
        <dt>
            Image 7:
        </dt>

        <dd>
            <img src="@Url.Action("Show", "Images", new { id = Model.IDimg7 })" alt="image" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDgame }) |
    @Html.ActionLink("Back to List", "Index")
</p>
