@model GuessWhere.Models.LeaderBoard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LeaderBoard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Game.IDgame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game.IDgame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDboard }) |
    @Html.ActionLink("Back to List", "Index")
</p>
