@model GuessWhere.Models.LeaderBoard

@{
    ViewBag.Title = "Game over :)";
}

<h2 style="color:cornflowerblue">Game Over</h2>

<h3 style="padding-top:20px; color:lightsteelblue">Your Score is:</h3>
<h2 style="padding-top:20px; color:#0026ff;font-size:xx-large">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; @ViewBag.score</h2>
@if (ViewBag.error != null)
{
    <p style="color:red">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;@ViewBag.error</p>
}
@using (Html.BeginForm("Create", "LeaderBoards", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="color: lightsteelblue">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDboard)
        @Html.HiddenFor(model => model.IDgame)
        @Html.HiddenFor(model => model.score)

        <div class="form-group">
            <label class="control-label col-md-2">Username</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create username" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <button id="Play another" class="btn btn-danger" href="~/Games/Play">Play another</button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@*<div class="row">
    <div id="controls-container" class="col-sm-3 pull-left">
        <button id="Save Game" class="btn btn-success">Save game!</button>
       
    </div>
</div>*@

