@model IEnumerable<GuessWhere.Models.LeaderBoard>

@{
    ViewBag.Title = "Leaderboard";
}

<h2 style="color: cornflowerblue">Leaderboard</h2>

<head>
    <style>
        table#leaderboardTable{
            width: 100%;
            background: rgba(212, 231, 255, 0.60);
            text-align: center;
            color: black;
        }
    </style>
</head>

<table class="table" id="leaderboardTable">
    <tr>
        <th>
            Score
        </th>
        <th>
            Username
        </th>
        <th>
            Game played
        </th>
    </tr>

@{
    var top10 = Model.OrderBy(m => m.score).Take(10);
}
@foreach (var item in top10) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game.IDgame)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDboard }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDboard }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDboard })
        </td>
    </tr>
}

</table>
