<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        


<div class="jumbotron">
    <h1>Guess Where</h1>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">&nbsp; &nbsp; &nbsp; &nbsp;PLAY &nbsp; &nbsp; &nbsp;</a></p>
</div>

<div class="row">

        <h2 class="">Game description</h2>
        <p class="">
            Guess Where is a educational game which should make your geographical knowledge a bit better. 
            The game features some natural monuments like national parks of different countries around the world or
            national heritage sites that everyone should know about. Most importantly, while playing you learn!
            Each task gives you a picture, and description, if you're willing to spend some of those coins that
            you got when you started the game, you can even use up a hint to refresh your memory.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">PLAY »</a></p>

</div>
        <hr>
        <footer>
            <p>© 2015 - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
