@model IEnumerable<GuessWhere.Models.SavedGames>

@{
    ViewBag.Title = "Saved games";
}

<h2 style="color:lightsteelblue">List of saved Games</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table"style="color:lightsteelblue">
    <tr>
        <th>
            Game ID
        </th>
        <th>
            Score
        </th>
        <th>
            Date played
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Game.IDgame)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datePlayed)
        </td>


        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDSavedGame }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDSavedGame }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDSavedGame })
        </td>*@
    </tr>
}

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
