@model GuessWhere.Models.Image

@{
    ViewBag.Title = "Details";
}

<h2 style="color:cornflowerblue">Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color:cornflowerblue">
            Image
        </dt>

        <dd>
            <img src="@Url.Action("Show", "Images", new { id = Model.IDimage })" alt="image" />
        </dd>

        <dt style="color:cornflowerblue">
            Name
        </dt>

        <dd style="color:aliceblue">
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt style="color:cornflowerblue">
            First hint
        </dt>

        <dd style="color:aliceblue">
            @Html.DisplayFor(model => model.hint1)
        </dd>

        <dt style="color:cornflowerblue">
            Second hint
        </dt>

        <dd style="color:aliceblue">
            @Html.DisplayFor(model => model.hint2)
        </dd>

        <dt style="color:cornflowerblue">
            Description
        </dt>

        <dd style="color:aliceblue">
            @Html.DisplayFor(model => model.info)
        </dd>

        <dt style="color:cornflowerblue">
            Latitude
        </dt>

        <dd style="color:aliceblue">
            @Html.DisplayFor(model => model.latitude)
        </dd>

        <dt style="color:cornflowerblue">
            Longitude
        </dt>

        <dd style="color:aliceblue">
            @Html.DisplayFor(model => model.longitude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDimage }) |
    @Html.ActionLink("Back to List", "Index")
</p>
