@model IEnumerable<GuessWhere.Models.Image>

@{
    ViewBag.Title = "List of images";
}

<h2 style="color: cornflowerblue">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<head>
    <style>
        table#imagesTable {
            width: 100%;
            align-content: center;
            background: rgba(212, 231, 255, 0.80);
            text-align: center;
            color: black;
        }
    </style>
</head>
<table class="table" style="color: black" id="imagesTable">
    <tr>
        <th>
            Image
        <th>
            Hint 1
        </th>
        <th>
            Hint 2
        </th>
        <th>
            Description
        </th>
        <th>
            Latitude
        </th>
        <th>
            Longitude
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Url.Action("Show", "Images", new { id = item.IDimage })" alt="image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hint1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hint2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.longitude)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDimage }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDimage }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDimage })
            </td>
        </tr>
    }

</table>
